{% extends "base.html" %}
{% block pgcss %}
.table {
  martin-top: ($spacer * 2) !important;
  padding-top: ($spacer * .5) !important;
}
{%endblock%}
{% block content %}
 <h1 class="mt-3"> Detail#{{label}} </h1>
            <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#Pin</th>
                        <th scope="col">Status</th>
                        <th scope="col">Name</th>
                        <th scope="col">Accesses</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for ele in pinlist %}
                      <tr>
                        <th scope="row">{{ele.id}}</th>
                        <td>{% if ele.status == 1 %} Loaded {%else%} Empty {%endif%}</td>
                        <td>{{ele.name}}</td>
                        <td>{{ele.stats}}</td>
                      </tr>
                      {% endfor %}


                    </tbody>
                  </table>
                  Device: {{label}} has {{sum}} accesses today; 
                  {% if chartdata %}
                  <div class="chart-container" style="position: relative; height:40vh; width:80vw">
                    <canvas id="shopchart" width="800" height="800"></canvas>
                  {% endif %}
                    <div class = "row-md-6 col-md-offset-3 align-items-center">
                    {% if history %}
                    <ul class="list-group">
                        {% for el in history %}
                        <a class="list-group-item list-group-item-action">{{el.date}}: {{el.sums}}</a>
                        {% endfor %}
                      </ul>
                    {% endif %}
                    </div>
                </div>
                  

{% endblock %}

{% block script %}


{% autoescape off%}
var data = {{chartdata}};
var ctx = document.getElementById("shopchart").getContext('2d');
var devChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: data.labels,
    datasets: [
      {
        label: "past daily sums",
        data: data.data,
        backgroundColor: data.color,
        borderColor: data.color,
        borderWidth: 1,
        fill: false
      }
    ]
  },
  options: {
    maintainAspectRatio: false,
    legend: {
        display: true,
        position: 'bottom'
    }
  }
});


{% endautoescape %}

{% endblock %}