{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
      <div class="col">
      </div>
      <div class="col-6">
            <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#Pin</th>
                        <th scope="col">Status</th>
                        <th scope="col">Name</th>
                        <th scope="col">Total Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Empty</td>
                        <td>AirPods</td>
                        <td>199</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Loaded</td>
                        <td>Power Adapter</td>
                        <td>219</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Loaded</td>
                        <td>Lightning Cable</td>
                        <td>332</td>
                      </tr>

                    </tbody>
                  </table>
      </div>
      <div class="col">
      </div>
    </div>
{% endblock %}

{% block script %}

{% endblock %}