{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
      <div class="col">
      </div>
      <div class="col-6">
            <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#Pin</th>
                        <th scope="col">Status</th>
                        <th scope="col">Name</th>
                        <th scope="col">Total Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for ele in pinlist %}
                      <tr>
                        <th scope="row">ele.id</th>
                        <td>ele.status</td>
                        <td>ele.name</td>
                        <td>ele.stats</td>
                      </tr>
                      {% endfor %}


                    </tbody>
                  </table>
      {{label}}, {{sum}}

      </div>
      <div class="col">
      </div>
    </div>
{% endblock %}

{% block script %}


{% autoescape off%}

{% endautoescape %}

{% endblock %}