{% extends "base.html" %}
{% block content %}
<!-- need beautiful banner here -->
<h1 class="display-4"> Offline Shop Dashboards</h1>
<!-- list shops -->
{% if table %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Units</th>
            <th scope="col">Visited</th>
        </tr>
    </thead>
    <tbody>
            {% for shop in table%}
            <tr>
                <th scope="row">
                    {{shop.pk}}
                </th>
                <td href="/shop/detail/{{shop.pk}}"> <a href="/shop/detail/{{shop.pk}}"> {{shop.name}}</a> </td>
                <td> {{shop.units}} </td>
                <td> {{shop.counts}} </td>
            </tr>
            {% endfor %}
    </tbody>

</table>
{% else %}
<h3>There is no data !<span class="badge badge-secondary">REFRESH LATER</span> </h3>
{%endif%}

{% endblock %}