{% extends "base.html" %}
{% block content %}
<p class="lead">
        <div class="chart-container" style="position: relative; height:40vh; width:80vw">
                <h4 class="mt-5">Device Live Stats</h4>
                of ShopName, current datetime
                <canvas id="shopchart" width="800" height="400"></canvas>
            </div>
            
</p>
{% comment %} <button onclick="mqclient.connect(option);">Connect</button> {% endcomment %}
<div id="messages"></div>
{% endblock %}
{% block script %}
    {% comment %} var topic = {{}} {% endcomment %}
    var mqtopic = "{{shopmq}}";
    var shopid = "{{shopid}}";
    var sessionid = "{{sessionid}}";
{% autoescape off%}
    var ctx = document.getElementById("shopchart").getContext('2d');
    var data = {{chartdata}};
    //need generate the next level state, preserve empty state;
    //and generate colors array and border color array; in js

    var shopChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: data.labels,
            datasets: [{
                label: "# of Visits",
                data: data.data,
                backgroundColor: [
                    'rgba(255,99,132, 1)',
                    'rgba(54,162,235,1)',
                    'green'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54,162,235,1)',
                    'green'
                ],
                borderWidth: 1
            }]
        },
        options: {
            legend: {
                display: true,
                position: 'bottom'
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
    let colorarray = function(datalist) {
      return ['red', 'red', 'green'];
    };

    // Create a client instance, path /ws or /
    mqclient = new Paho.MQTT.Client(location.hostname, 9883, "/", sessionid);
    
    // set callback handlers
    mqclient.onConnectionLost = onConnectionLost;
    mqclient.onMessageArrived = onMessageArrived;
    
    // option of the client
    option = {
        onSuccess:onConnect,
        timeout: 3,
        keepAliveInterval: 30
        //userName: "guest",
        //password: "guest"
    };
    
    // connect the client
    mqclient.connect(option);

    // called when the client loses its connection
    function onConnectionLost(responseObject) {
      if (responseObject.errorCode !== 0) {
        console.log("onConnectionLost:"+responseObject.errorMessage);
      }
    };

    // called when the client connects
    function onConnect() {
      // Once a connection has been made, make a subscription and send a message.
      console.log("onConnect");
      mqclient.subscribe(mqtopic);
      obj_datas = {
          label: 'web',
          data: 'hello'
      };
      //message = new Paho.MQTT.Message(JSON.stringify(obj_datas));
      message = new Paho.MQTT.Message('wb.'+shopid+'.'+sessionid);
      message.destinationName = "remote";
      mqclient.send(message);
    };
    
    // called when a message arrives
    function onMessageArrived(message) {
      console.log("onMessageArrived:"+message.payloadString);
      jmessage = JSON.parse(message.payloadString);
      //$('#messages').append('<span>:: ' + message.payloadString + '</span>');
      //data update
      c = 0;
      for (var prop in data.labels) {
          console.log('loop')
          if (data.labels[c] === jmessage.label) {
              {% comment %} console.log(prop) {% endcomment %}
              data.data[c] = jmessage.data;
              break;
          } else {
              console.log(c)
          };
          c = c + 1;
      };
      //chart update
      shopChart.update();
    };

{% endautoescape %}
{% endblock %}