{% extends "base.html" %}
{% block content %}
<div class="col-lg-2">
    <div class="row h-600">
        <div class="chart-container" style="position: relative; height:40vh; width:80vw">
                <h4 class="mt-5">Device Live Stats</h4>
                of ShopName, current datetime
                <canvas id="shopchart" width="800" height="600"></canvas>
            </div>
        </div>


</div>
<div class="fixed-bottom" id="messages"></div>
{% endblock %}
{% block script %}
    {% comment %} var topic = {{}} {% endcomment %}
    var mqtopic = "{{shopmq}}";
    var shopid = "{{shopid}}";
    var sessionid = "{{sessionid}}";
{% autoescape off%}
    var ctx = document.getElementById("shopchart").getContext('2d');
    var data = {{chartdata}};
    //need generate the next level state, preserve empty state;
    //and generate colors array and border color array; in js
    var starttime = this.window.Date.now() / 1000;
    let colorarray = function(datalist) {
        var result = [];
        var sequence = ["red", "blue", "yellow", "green"];
        var i = 0;
        var f = 0;
        for (var prop in datalist) {
          f = i % 4;
          result.push(sequence[f]);
          i = i + 1;
        };
      return result;
    };
    var labelMap = new Map();
    for (var prop in data.labels) {
      labelMap.set(data.labels[prop], prop);
    };

    
    var shopChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: data.labels,
            datasets: [{
                label: "# of Visits",
                data: data.data,
                backgroundColor: colorarray(data.data),
                borderColor: colorarray(data.data),
                borderWidth: 1
            }]
        },
        options: {
            legend: {
                display: true,
                position: 'bottom'
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });


    // Create a client instance, path /ws or /
    mqclient = new Paho.MQTT.Client(location.hostname, 9883, "/", sessionid);
    
    // set callback handlers
    mqclient.onConnectionLost = onConnectionLost;
    mqclient.onMessageArrived = onMessageArrived;
    
    // option of the client
    option = {
        onSuccess:onConnect,
        timeout: 3,
        keepAliveInterval: 30
        //userName: "guest",
        //password: "guest"
    };
    
    // connect the client
    mqclient.connect(option);

    // called when the client loses its connection
    function onConnectionLost(responseObject) {
      if (responseObject.errorCode !== 0) {
        console.log("onConnectionLost:"+responseObject.errorMessage);
      }
    };

    // called when the client connects
    function onConnect() {
      // Once a connection has been made, make a subscription and send a message.
      console.log("onConnect");
      mqclient.subscribe(mqtopic);
      obj_datas = {
          label: 'web',
          data: 'hello'
      };
      //message = new Paho.MQTT.Message(JSON.stringify(obj_datas));
      message = new Paho.MQTT.Message('wb.'+shopid+'.'+sessionid);
      message.destinationName = "remote";
      mqclient.send(message);
    };
    
    // called when a message arrives
    function onMessageArrived(message) {
      console.log("onMessageArrived:"+message.payloadString);
      jmessages = JSON.parse(message.payloadString);
      //will be a list;
      deltatime = window.Date.now() / 1000 - starttime;
      $('#messages').append('<p>+'+deltatime.toFixed(3)+'s:' +jmessages[0] + ' <span>!</span></p>');
      //data update
      c = 0;

      for (var prop in jmessages) {
          console.log(jmessages[prop])
          data.data[labelMap.get(jmessages[prop].label)] = jmessages[prop].data;
          c = c + 1;
      };
      //chart update
      shopChart.update();
    };

{% endautoescape %}
{% endblock %}