{% extends "base.html" %}
{% block content %}
<canvas id="shopchart" width="600" height="600"></canvas>
{% endblock %}
{% block script %}
{% autoescape off%}
    var ctx = document.getElementById("shopchart").getContext('2d');
    var shopChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ["Red", "Blue"],
            datasets: [{
                label: "# of Votes",
                data: [12, 19],
                backgroundColor: [
                    'rgba(255,99,132, 0.2)',
                    'rgba(54,162,235,0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54,162,235,1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
{% endautoescape %}
{% endblock %}